.Logo {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.Logo img {
    /*width: 7rem;*/
    margin: 0 .8rem;
    border: 3px solid white;
    border-radius: 100px;
}

.Logo .brand {
    color: white;
    font-size: 4.5rem;
    font-weight: bold;
}