.Logo {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.Logo img {
    /*width: 6rem;*/
    margin: 0 .8rem;
}

.Logo .brand {
    color: white;
    font-size: 4.5rem;
    font-weight: bold;
}