.Home {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.Home p {
    font-size: 2rem;
    color: white;
    padding: 1rem 0 2rem 0;
}

.Home p a {
    color: white;
    text-decoration: none; /* no underline */
}