.Layout {
    min-height: 100vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
}

.Layout main {
    flex-grow: 1;
    display: flex;
}

.Layout main * {
    flex-grow: 1;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

/*header, main, footer {
    flex-shrink: 0;
}*/
